.main {
  .boxes {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .box {
      box-sizing: border-box;
      width: 32%;
      height: 190px;
      &>div {
        padding: 12px 24px;
      }
      .mainText {
        font-family: Edu Monument Grotesk Semi-Mono;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 35px;
        color: #000000;
      }
      .grayText {
        color: rgba(0,0,0,0.5)
      }
      .smallGrayText {
        font-size: 15px;
        color: rgba(0,0,0,0.5)
      }
    }
  }
}