.buttonDiv {
  position: relative;
  &:hover {
    div {
      display: initial;
    }
  }
  button {
    display: inline;
  }
  .tooltip {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    img {
      width: 250px;
      height: 60px;
    }
  }
}